		<div align="center">
			<h3>Here are some pictures of us!</h3>
			<%= render 'layouts/carousel' %>
			<script type="text/javascript" charset="utf-8">
			$('.carousel').carousel({
 				interval: 4000
	   	 })
	  	 </script>
	   </div>
