<div class="container-fluid">
	<div class="span1">
	</div>
	<div>
		<h1>Craig's Hobbies</h1><br />
		<ul>
			<li>Here are some of the hobbies I enjoy</li>
			<ul>
				<li>Playing Guitar</li>
				<li>Working with Computers</li>
				<li>Electronics</li>
				<li>Woodworking</li>
				<li>Reading Comic Books</li>
			</ul>
		</ul>

		<h3><%= link_to "Guitar Photos", guitar_path %></h3>
	</div>
</div>