<div class="container-fluid">
	<div class="span1">
	</div>
	<div>
<h1>All About Craig!</h1><br />
<p>This site will let you find out about my deepest darkest secrets!</p>
<p>Just kidding. Here you will be able to learn about my family, job, and more!</p>
<p>To the right you will see my Twitter feed. This updates automagically, so you will always be up to date on my happenings.</p>
<%= image_tag 'main.jpg', class: "twitter", alt: "Pic of Craig and Family"%>
<h3>Who is Craig Smith?</h3>
<ul><em>
<p>My name is <strong>Craig Justin Smith</strong></p>
<p>I am <strong>31</strong> years of age</p>
<p>I have a beautiful <strong>wife, Alisha</strong></p>
<p>We have been married for <strong>6 years</strong></p>
<p>Our daughter was born in <strong>June of 2011</strong></p>
<p>I have really <strong>long hair</strong></p>
</em>
</ul>
</div>
</div>