<div class="container-fluid">
	<div class="span1">
	</div>
	<div>

<h1>Craig's Favorite iPad Apps</h1> <br />

<dl class="dl-horizontal">
	<dt><img class="icon" src="http://a3.mzstatic.com/us/r1000/075/Purple/v4/93/bb/00/93bb008b-c900-7597-f278-c76f3d56cb06/icon-57.png">&nbsp;<a href="http://itunes.apple.com/us/app/evernote/id281796108?mt=8&uo=4" target="itunes_store">Evernote</a></dt>
	<dd>I use Evernote to store my discussion posts before I post them.</dd><dd>This allows me to write my posts from anywhere</dd><dd>and also have historical records of all my posts</dd><br />
	<dt><img class="icon" src="http://a2.mzstatic.com/us/r1000/099/Purple/v4/68/c3/6d/68c36d5a-9081-2133-3530-6ed52271625f/icon.png">&nbsp;<a href="http://itunes.apple.com/us/app/reeder-for-ipad/id375661689?mt=8&uo=4" target="itunes_store">Reeder for iPad</a></dt>
	<dd>This allows me to keep up with all the latest tech news.</dd><dd>I use this to convieniantly read my Google reader rss offline</dd><br />
	<dt><img class="icon" src="http://a2.mzstatic.com/us/r1000/082/Purple/v4/11/39/1b/11391bbf-da62-6414-be75-efee29264566/appicon.png">&nbsp;<a href="http://itunes.apple.com/us/app/wunderlist-hd/id420670429?mt=8&uo=4" target="itunes_store">Wunderlist HD</a></dt>
	<dd>Great for keeping todo lists in oder and easy to update.</dd><dd>Stored in the cloud so it is available on all devices</dd><br />
	<dt><img class="icon" src="http://a4.mzstatic.com/us/r1000/084/Purple/v4/6b/89/c2/6b89c233-4bf7-9509-361e-56c814e8d800/Icon.png">&nbsp;<a href="http://itunes.apple.com/us/app/comic-zeal-comic-reader/id363990983?mt=8&uo=4" target="itunes_store">Comic Zeal Comic Reader</a></dt>
	<dd>For those times you just need a distraction!</dd><br />
	<dt><img class="icon" src="http://a4.mzstatic.com/us/r1000/088/Purple/v4/96/67/95/9667954a-f292-2194-28fd-34dd99401f0b/Icon.png">&nbsp;<a href="http://itunes.apple.com/us/app/garageband/id408709785?mt=8&uo=4" target="itunes_store">GarageBand</a></dt>
	<dd>Great for the novice musician in me</dd><dd>The smart strings were a great addition!</dd><dd>I use the Apogee Jam to plug in my guitar</dd>
</dl>
</div>
</div>