<%= image_tag 'faalogo.png', class: "twitter", alt: "FAA Logo" %>
<div class="container-fluid">
	<div class="span1">
	</div>
	<div>
<h1>Craig's Job</h1><br />
<p>I currently work for the Federal Aviation Administration. This is my 4th year with the agency.</p>
<p>I work as a Computer Specialist on internal projects.</p>
<p><strong>Currently I have worked on the following internal projects:</strong></p>
<ul>
	<li>National Anti-Virus System Deployment</li>
	<li>Server Virtualization Design and Deployment</li>
	<li>Distaster Recovery Design and Deployment</li>
	<li>Desktop Virtualization - In Progress</li>
</ul>
</div>
</div>