<div id="myCarousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/penny1.jpg" alt="">
      <div class="carousel-caption">
        <h4>Rocking Out!</h4>
        <p>Penny in her daddy's old rocking chair!</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/penny2.jpg" alt="">
      <div class="carousel-caption">
        <h4>Just swingin' around</h4>
        <p>Penny loves to swing on nice sunny days!</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/meandpenny1.jpg" alt="">
      <div class="carousel-caption">
        <h4>My Girl!</h4>
        <p>This was a fun photo shoot with the whole family. Here is a picture of me and Penny!</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>