<div id="myCarousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
	  <%= render @pictures %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
