    <div class="item active">
      <img src="assets/guitar1.jpg" alt="">
      <div class="carousel-caption">
        <h4>Still new in the box</h4>
        <p>Here I am holding my brand new gretsch in the box</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/guitar2.jpg" alt="">
      <div class="carousel-caption">
        <h4>In all its glory!</h4>
        <p>My new Gee-Tar</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/guitar3.jpg" alt="">
      <div class="carousel-caption">
        <h4>Hanging around</h4>
        <p>All my guitars double as wall decorations. They are things of beauty!</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/guitar4.jpg" alt="">
      <div class="carousel-caption">
        <h4>Unplugged</h4>
        <p>Here is a picture of my acoustic guitar that I have owned since I was in middle school.</p>
      </div>
    </div>
