    <div class="item active">
      <img src="assets/penny1.jpg" alt="">
      <div class="carousel-caption">
        <h4>Rocking Out!</h4>
        <p>Penny in her daddy's old rocking chair!</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/penny2.jpg" alt="">
      <div class="carousel-caption">
        <h4>Just swingin' around</h4>
        <p>Penny loves to swing on nice sunny days!</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/meandpenny1.jpg" alt="">
      <div class="carousel-caption">
        <h4>My Girl!</h4>
        <p>This was a fun photo shoot with the whole family. Here is a picture of me and Penny!</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/penny6.jpg" alt="">
      <div class="carousel-caption">
        <h4>Three generations of women</h4>
        <p>Grandma loves being with Penny! Here is a picture of Grandma, Mother and Grandaughter!</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/penny3.jpg" alt="">
      <div class="carousel-caption">
        <h4>Mommy and Daughter snuggle time</h4>
        <p>Penny loves to snuggle with Alisha before bed time! Aren't they cute?</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/penny4.jpg" alt="">
      <div class="carousel-caption">
        <h4>The girl from Paris</h4>
        <p>My parents bought us this great little outfit for Penny</p>
      </div>
    </div>
    <div class="item">
      <img src="assets/penny5.jpg" alt="">
      <div class="carousel-caption">
        <h4>The two most beautiful girls in my life!</h4>
        <p>Here they are in the same picture! GASP!</p>
      </div>
    </div>
